.outerWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 500px;
  min-width: 320px; /* добавлено */
  padding: 2.5rem;
  background: #2a2a40;
  border-radius: 16px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.logo {
  display: block;
  margin: 0 auto 1.5rem auto;
  width: 80px;
  height: auto;
}

.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #f3e5ab;
  letter-spacing: 0.5px;
}

.inputGroup {
  margin-bottom: 1.5rem;
}

.input {
  width: 100%;
  padding: 1rem 3rem 1rem 1.25rem;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  background: #373750;
  color: #fff;
  transition: all 0.3s ease;
  box-sizing: border-box;
  height: 40px;
}

.input::placeholder {
  color: #aaa;
}

.input:focus {
  outline: 2px solid #4c8cff;
  transform: scale(1.02);
  border-color: #999;
}

.passwordWrapper {
  position: relative;
}

.eyeButton {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: #ccc;
  cursor: pointer;
  padding: 0;
  margin: 0;
  line-height: 1;
}

.buttonContainer {
  margin-top: 2rem;
}

.button {
  width: 100%;
  padding: 1rem;
  background: #d0a76c;
  color: #2a2a40;
  border: none;
  border-radius: 8px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button:hover:enabled {
  background: #a06b4f;
  transform: translateY(-2px);
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}



.switchLink {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 0.9rem;
  color: #aaa;
}

.switchLink a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
}

.switchLink a:hover {
  text-decoration: underline;
}


.error {
  color: #f87171;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}

.spinner {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}


.switchLink button {
  background: none;
  border: none;
  color: #d0a76c;
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
  padding: 0;
  margin-left: 0.3rem;
}

.switchLink button:hover {
  color: #f3e5ab;
  text-decoration: none;
}